.orders
  = render 'form'
  %br
  .nes-container.with-title
    .title Orders
    - if @orders.empty?
      %p No Orders Yet! Select a customer and click Create Order to get started.
    - else
      .nes-table-responsive
        %table.nes-table.is-bordered
          %thead
            %tr
              %th #
              %th Customer
              %th Total
              %th Status
          %tbody
            - @orders.each do |order|
              %tr
                %td= link_to(order.id, order_path(order))
                %td= order.customer.name
                %td= humanized_money_with_symbol order.total_cost
                %td{class: 'nes-text ' + status_class[order.status.to_sym]}= order.status
